body {
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

.logo-btn{
    border: none;
    stroke: none;
    background-color: transparent;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bg-img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    background-color: #212121;
}

.bg-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.bg-img-wrapper h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 3em;
    font-family: "Boston", sans-serif;
    text-align: center;
}

.slogan-header{
    position: absolute;
    font-size: 35px;
    color: white;
    font-family: "Boston", sans-serif;
}
.logo-btn {
    cursor: pointer;
}

#Logo path {
    transition: transform 0.05s ease-in-out;
}

#JLetter:hover {
    transform: translateY(-8px);
}

#LLetter:hover {
    transform: translateY(-6px);
}

#ALetter:hover {
    transform: translateY(-4px);
}

#Dot:hover {
    transform: translateY(-7px);
}
.body2{
    width: 100%;
    background-color: #212121;
}
.card-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #181818;
}

footer a:hover {
    text-shadow: #FC0 1px 0 10px;
}


